<%= render "nav_options" %>
<h2>Park a Car</h2>
<%= form_with(model: Car.new, url: park_car_path, method: :post) do |form| %>
  <div class="form-group">
    <%= form.label :registration_number, "Registration Number:" %>
    <%= form.text_field :registration_number, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= form.label :color, "Color:" %>
    <%= form.text_field :color, class: "form-control" %>
  </div>
  <br>
  <%= form.submit "Park Car", class: "btn btn-primary" %>
<% end %>
<br>
<br>
<h2>Parking Spots Status</h2>
<div class="table-responsive"> <!-- Add this div for responsiveness -->
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Spot Number</th>
        <th>Car Registration Number</th>
        <th>Car Color</th>
        <th>Ticket Number</th>
      </tr>
    </thead>
    <tbody>
      <% @parking_spots.each do |parking_spot| %>
        <tr>
          <td><%= parking_spot.spot_number %></td>
          <td><%= parking_spot.car&.registration_number %></td>
          <td><%= parking_spot.car&.color %></td>
          <td><%= parking_spot.car&.ticket&.id %></td>
          <td>
            <% if parking_spot.car.present? %>
              <%= link_to "Unpark", unpark_car_parking_spot_path(parking_spot), method: :delete, data: { confirm: "Are you sure you want to unpark this car?" }, class: "btn btn-danger btn-sm" %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
