<div class="container mt-4">
  <h1>Registration Numbers by Color</h1>
  <%= form_with url: registration_numbers_by_color_path, method: :get, class: "mt-3" do |f| %>
    <div class="form-group">
      <%= f.label :color, "Color" %>
      <%= f.text_field :color, class: "form-control" %>
    </div>
    <br>
    <%= f.submit "Search", class: "btn btn-primary" %>
  <% end %>
  <% if @registration_numbers.present? %>
    <div class="mt-3">
      <p>Registration Numbers Are: <%= @registration_numbers.join(", ") %></p>
    </div>
  <% end %>
</div>
